<!DOCTYPE html>
<html lang=no>
    <head>
        <title>Cybertalent.no - CTF</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="/static/favicon.png" />
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
    <img class="bug2" src="/static/bug.gif" alt="Fancy bug banner"/>
    <img class="bug2" src="/static/bug2.gif" alt="Fancy bug banner"/>
    <div class="container">
        <img class="bug" src="/static/bug.gif" alt="Fancy bug banner"/>
        <h2>ctf.cybertalent.no</h2>
        <p>CTF-en foregår i sin helhet via SSH.</p>
<p>Logg på som bruker <em>login</em>.</p>
<p><a href="/highscore">Highscore</a></p>
<p><a href="/historie">Klassiske hackerteknikker</a></p>
<p><a href="https://www.forsvaret.no/cybertalent">Talentprogram cyberoperasjoner</a></p>
<p><a href="https://p26e.dev/">PSTs adventskalender</a></p>
    </div>
    </body>
</html>

