<!DOCTYPE html>
<html lang=no>
    <head>
        <title>Cybertalent.no - highscore</title>
        <meta charset="utf-8"/>
        <!-- meta name="viewport" content="width=device-width, initial-scale=1.0" / -->
        <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="../static/favicon.png">
        <link rel="stylesheet" type="text/css" href="../static/style.css" />
    </head>
    <body>
    <img class="bug2" src="../static/bug.gif" alt="Fancy bug banner"/>
    <img class="bug2" src="../static/bug2.gif" alt="Fancy bug banner"/>
    <div class="container" style="min-width: 22em">
        <h1>{USER_NAME}</h1>
        <h2>{USER_POINTS} poeng</h2>
        <h3>{USER_POSITION}</h3>
        <p>{USER_STARS}</p>
        <ol type="1" class="liste">
           {USER_CATEGORIES}
        </ol>
    </div>
    </body>
</html>
